@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

:root {
  /* ### COLORS ### */
  --clr-puredark: #020202;
  --clr-dark: #1d1d1d;
  --clr-semidark: #333333;
  --clr-gray: #696969;
  --clr-lightgray: #b5b5b5;
  --clr-semilight: #d2d2d2;
  --clr-light: #F5F5F5;

  /* ### FONT FAMILY ### */
  --main-font: 'Noto Sans', sans-serif;

  /* ### MARGIN AND PADDING DEFAULT SPACE */
  --space: 1.25rem;

  /* ### RESPONSIVE FONT ###*/
  
}


/* #################*/
/* ### CSS RESET ### */
/* ################# */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

h1,h2,h3 {
  color: var(--clr-light);
}

h1 {
  font-size: 42pt;
}
h2 {
  font-size: 36pt;
}
h3 {
  font-size: 18pt;
}

ul, ol, li {
  padding: 0;
  list-style: none;
}

small, i {
  color: var(--clr-lightgray);
}

p {
  font-size: 16pt;
  color: var(--clr-lightgray);
  line-height: 2;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* #######################*/
/* ### UTILITY CLASSES ### */
/* ####################### */

.center-text {
  text-align: center;
}
.ft-size-16px {
  font-size: 16px;
}

.title {
  color: var(--clr-light);
}

.p-vertical {
  padding-top: var(--space);
  padding-bottom: var(--space);
}
.p-horizontal {
  padding-inline: var(--space);
}
.p-bottom {
  padding-bottom: var(--space);
}
.p-inline {
  padding-inline: var(--space);
}
.p-left{
  padding-left: var(--space);
}
.p-right {
  padding-right: var(--space);
}


.m-inline {
  margin-inline: var(--space);
}
.m-top {
  margin-top: var(--space)
}
.m-left {
  margin-left: var(--space);
}
.m-right {
  margin-right: var(--space);
}


.bg-over {
  overflow: hidden;
}
.bg-img {
  min-width: 100%;
  min-height: 100%;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.grid{
  display: grid;
}
.grid.columns {
  grid-template-columns: 1fr 1fr;
}
.grid.gap {
  gap: var(--space);
}
.order {
  order: 0;
}

.bg-puredark{
  background-color: var(--clr-puredark)
}
.bg-dark {
  background-color: var(--clr-dark)
}
.bg-semidark {
  background-color: var(--clr-semidark);
}

.corners {
  border-radius: .50rem;
}
.corners-img {
  border-radius: 1.50rem;
}

.box-border {
  border-bottom: 2px solid var(--clr-light);
  border-right: 2px solid var(--clr-light);
  border-left: 2px solid var(--clr-light);
  border-top: 2px solid var(--clr-light);
}

/* #####################*/
/* ### LOADER INICIO ### */
/* ##################### */
/* .loader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: -50;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
} */

/*.loader::after,
/* .loader::before{
  animation:loader 2s linear infinite;
  content: "";
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}
.loader::after{
  opacity: 0;
  animation-delay: 1s;
} */
.contenedor_idiomas {
  display: flex;
  align-items: center;
  justify-content: end;
}
.es {
  color: #e5dddd;
  margin: 15px;
}
.en {
  color: #e5dddd;
  margin: 15px;
}
.check {
  position: relative;
  width: 50px;
}
.check:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background: #e5dddd;
  border-radius: 25px;
}

.check:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #8a0202;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #e5dddd;
  box-sizing: border-box;
}

.check:checked:after {
  left: 25px;
  border: 2px solid #00a1ff;
}
.check:checked:before {
  background: #00a1ff;
}

/* ####################*/
/* ### HERO SECTION ### */
/* #################### */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* ############## */
/* ### NAVBAR ### */
/* ############## */

.contenedor_lista{
  text-align: center;
  overflow: hidden;
  max-width: 250px;
  height: 50px;
}
.contenedor_lista ul{
  list-style-type: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #e5dddd;
}
.contenedor_lista ul li{
  font-size: 36px;
  color: var(--clr-semilight)
}

.menu {
  position: fixed;
  width: 100%;
  background-color: var(--clr-light);
  z-index: 1000;
}

/*Nuevo nav hamburguesa*/

.nav_list{
  display: flex;
  gap: 2rem;
}
.cerrar_menu,
.abrir_menu{
  display: none;
}
@media screen and (max-width: 550px) {
  .cerrar_menu,
  .abrir_menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--clr-puredark);
  }
  .nav{
    display: none;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-light);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
.nav.visible{
  opacity: 1;
  visibility: visible;
}
.nav_list {
  flex-direction: column;
  align-items: end;
}
}
/* ######################*/
/* ### PERFIL SECTION ### */
/* ###################### */

.seccion_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contenedor_perfil {
  font-size: 18px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  

}
.contenedor_perfil p {
  background-color: #e5dddd;
  padding: 40px;
  max-width: 40ch;
  box-sizing: border-box;
  border-radius: 20%;
  line-height: 1.4;
  border: 3px solid #fff;
  box-shadow: -18px 10px 5px 0px rgba(224,210,210,0.75);
-webkit-box-shadow: -18px 10px 5px 0px rgba(224,210,210,0.75);
-moz-box-shadow: -18px 10px 5px 0px rgba(224,210,210,0.75);
}
.texto_perfil {
  /* opacity: 0; */
  /* transform: scale(0.9) translateX(-100px); */
  transition: 0.7s ease-in-out all;
}
/* .imagen_perfil{
  align-self: center;
  opacity: 0;
  transform: scale(0.9) translateX(100px);
  transition: 0.7s ease-in-out all;
} */

/* ########################*/
/* ### ESTUDIOS SECTION ### */
/* ######################## */
.seccion_estudios{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contenedor_estudios {
  font-size: 18px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.contenedor_estudios ul{
  color: #f0f0f0;
  padding: 40px;
  max-width: 40ch;
  box-sizing: border-box;
  border-radius: 20%;
  line-height: 1.4;
  border: 3px solid #fff;
  list-style: none;
  box-shadow: -18px 10px 5px 0px rgba(243, 243, 243, 0.75);
  -webkit-box-shadow: -18px 10px 5px 0px rgba(243, 243, 243, 0.75);
  -moz-box-shadow: -18px 10px 5px 0px rgba(243, 243, 243, 0.75);
}

.texto_estudios{
  align-self: center;
  /* opacity: 0; */
  /* transform: scale(0.9) translateX(-100px); */
  transition: 0.7s ease-in-out all;
}
/* .imagen_estudios{
  align-self: center;
  opacity: 0;
  transform: scale(0.9) translateX(100px);
  transition: 0.7s ease-in-out all;
} */

/* ###########################*/
/* ### HABILIDADES SECTION ### */
/* ########################### */

.card {
  position: relative;
  flex-basis: 280px;
  max-width: 400px;
  flex-grow: 1;
}

.card .cara {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	backface-visibility: hidden;
	overflow: hidden;
	transition: 0.5s;
	z-index: 10;
}

.card .frente {
  transform: perspective(600px) rotateY(0deg);
  /* box-shadow: 0 5px 10px #fff; */
}
.card .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #e5dddd;
  background-color: #8a0202;
  text-align: center;
}

.card .reverso {
  transform: perspective(600px) rotateY(180deg);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #1d1d1d;
  padding: 15px;
  color: #e5dddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #fff;
  transition: 0.5s;
  z-index: 0;
}

.card .reverso h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .reverso p {
  line-height: 1.7;
}

.card .reverso .link {
  border-top: solid 1px #f0f0f0;
  height: 50px;
  line-height: 50px;
}
.card .reverso .link a {
  color: #f0f0f0;
}

.card:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .reverso {
  transform: perspective(600px) rotateY(360deg);
}


/* ################################# */
/* ### CONTACTO y FOOTER SECTION ### */
/* ################################# */
@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px #fff; */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px #f0f0f0; */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px #fff; */
		transform: translatey(0px);
	}
}
.seccion_contacto{
  padding: 80px 20px  50px;
}



.footer{
  display: flex;
  justify-content: space-evenly;
}
.seccion_contacto h3{
  color: #f0f0f0;
  font-size: 40px;
  text-align: center;
}
.avatar {
	width: 75px;
	height: 75px;
	box-sizing: border-box;
	border: 5px white solid;
  background-color: white;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.avatar img { width: 100%; height: auto; }

.visible {
  opacity: 1;
  transform: scale(1);
}



@media (max-width: 660px) {
  .grid.columns {
    grid-template-columns: 1fr;
  }
  .order {
    order: 1;
  }
}

picture.anim {
  opacity: 0;
}

.underline {
  color: var(--clr-gray);
  position: relative;
  display: inline-block;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-dark);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.shadow-pop-bl.this {
	-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
            box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px var(--clr-light), -2px 2px var(--clr-light), -3px 3px var(--clr-light), -4px 4px var(--clr-light), -5px 5px var(--clr-light), -6px 6px var(--clr-light), -7px 7px var(--clr-light), -8px 8px var(--clr-light);
            box-shadow: -1px 1px var(--clr-light), -2px 2px var(--clr-light), -3px 3px var(--clr-light), -4px 4px var(--clr-light), -5px 5px var(--clr-light), -6px 6px var(--clr-light), -7px 7px var(--clr-light), -8px 8px var(--clr-light);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
            box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px var(--clr-light), -2px 2px var(--clr-light), -3px 3px var(--clr-light), -4px 4px var(--clr-light), -5px 5px var(--clr-light), -6px 6px var(--clr-light), -7px 7px var(--clr-light), -8px 8px var(--clr-light);
            box-shadow: -1px 1px var(--clr-light), -2px 2px var(--clr-light), -3px 3px var(--clr-light), -4px 4px var(--clr-light), -5px 5px var(--clr-light), -6px 6px var(--clr-light), -7px 7px var(--clr-light), -8px 8px var(--clr-light);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

.shadow-pop-br.this {
	-webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
            box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px var(--clr-light), 2px 2px var(--clr-light), 3px 3px var(--clr-light), 4px 4px var(--clr-light), 5px 5px var(--clr-light), 6px 6px var(--clr-light), 7px 7px var(--clr-light), 8px 8px var(--clr-light);
            box-shadow: 1px 1px var(--clr-light), 2px 2px var(--clr-light), 3px 3px var(--clr-light), 4px 4px var(--clr-light), 5px 5px var(--clr-light), 6px 6px var(--clr-light), 7px 7px var(--clr-light), 8px 8px var(--clr-light);
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
            box-shadow: 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light), 0 0 var(--clr-light);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px var(--clr-light), 2px 2px var(--clr-light), 3px 3px var(--clr-light), 4px 4px var(--clr-light), 5px 5px var(--clr-light), 6px 6px var(--clr-light), 7px 7px var(--clr-light), 8px 8px var(--clr-light);
            box-shadow: 1px 1px var(--clr-light), 2px 2px var(--clr-light), 3px 3px var(--clr-light), 4px 4px var(--clr-light), 5px 5px var(--clr-light), 6px 6px var(--clr-light), 7px 7px var(--clr-light), 8px 8px var(--clr-light);
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}

.swing-in-top-bck.this {
	-webkit-animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
